<!-- use base.html as template -->
{% extends 'base.html' %} 

<!-- browser tab name -->
{% block head %}
    {% block title %} Team Celine {% endblock %}
{% endblock %}

{% block content %}
    <link rel= "stylesheet" href= "{{ url_for('static',filename='css/style.css') }}">
    <h1>Welcome to our database</h1>
    <hr size="8" color="white"><br>
    <p style="margin-left: 15px; margin-right:200px; text-align: justify;" >
        Our aim is to provide researchers with a tool to investigate the effect of different evolutionary processes, 
        such as genetic drift and natural selection on genetic variation within population using Shannon Diversity index, Tajima’s D and Expected Heterozygosity.
        Furthermore, the genetic differentiation between populations is also measured and indicated by the FST statistic. The output of results would depends on SNPs, 
        genes and chromosomal region of interest, and could be applied for human population genetic studies studying disease resistance.
    </p><br>
    <hr size="8" color="white"><br>
    <span style="font-size: 18px; font-weight: bold; color:#008282; margin-left: 20px">Select one:</span><br>

    <!-- HTML FORM CONTAINS SEARCH_TYPE AND SEARCH_VALUE WHICH WILL BE PASSED ONTO FLASK SCRIPT WEBAPP.PY -->
    <form method="post" action="/" style="margin-left: 40px;">
        <input type="radio" name="search_type" value="snp_id" checked>&ensp; SNP ID (rs ID)
        <br><span class="tab" style="font-size: 14px; color: rgb(175, 237, 241);">e.g. rs4117122</span><br>
        <input type="radio" name="search_type" value="gene_name">&ensp; Gene Name / Alias
        <br><span class="tab" style="font-size: 14px; color: rgb(175, 237, 241);">e.g. CAPH2</span><br>
        <input type="radio" name="search_type" value="position">&ensp; Genomic Coordinates
        <br><span class="tab" style="font-size: 14px; color: rgb(175, 237, 241);">e.g. 50503271 or 50503271-5050500</span><br><br>
        <input type="text" name="search_value" >
        <input type="submit" value="Search">
        <br><br>
    </form>
    
{% endblock %}