{% extends 'base.html' %}

{% block head %}
    {% block title %} Team Celine {% endblock %}
{% endblock %}

{% block content %}
    <h1> Select </h1>
    <form method="post" action="/"> 
        <input type="radio" name="search_type" value="snp_id" checked> SNP ID
        <br>
        <input type="radio" name="search_type" value="gene_name"> Gene Name
        <br>
        <input type="radio" name="search_type" value="genomic_coordinate"> Genomic Coordinate
        <br><br>
        <input type="text" name="search_value" >
        <input type="submit" value="Search">
    </form>
    <table>
    {% for value in data %}
        <tr>
            {% for end in range(value|length) %}
                <td>
                    {{value[loop.index0]}}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}
