{% extends 'base.html' %}

{% block head %}
    {% block title %} Team Celine {% endblock %}
{% endblock %}

{% block content %}
    <link rel= "stylesheet" href= "{{ url_for('static',filename='css/style.css') }}">
    <h1>Welcome to SNPs Portal</h1>
    <form method="post" action="/">
        <input type="radio" name="search_type" value="snp_id" checked> SNP ID
        <br>
        <input type="radio" name="search_type" value="gene_name"> Gene Name
        <br>
        <input type="radio" name="search_type" value="pos_numbers"> Genomic Coordinate
        <br><br>
        <input type="text" name="search_value" >
        <input type="submit" value="Search">
        <br><br>
    </form>
{% endblock %}